@font-face {
    src: url("../assets/fonts/Manrope-Regular.woff2") format("woff2");
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url("../assets/fonts/Manrope-Bold.woff2") format("woff2");
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url("../assets/fonts/Manrope-SemiBold.woff2") format("woff2");
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

.d-flex-colummn {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: block;
}

/*HEADER STYLES*/

.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 60px;
}

.row {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-flow: row nowrap;
    margin: 0 auto;
}

.d-flex,
.header-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-burger--btn {
    display: none;
    width: 20px;
    height: 16px;
    border: none;
    border-color: transparent;
    cursor: pointer;
}

.header-logo {
    margin: 0;
}

.nav-list {
    text-decoration: none;
    color: #000000;
    display: flex;
    gap: 48px;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    list-style: none;
}

.nav-item {
    transition: transform 0.3s ease;
}

.nav-item:hover {
    transform: scale(1.1);
}

.burger-btn--active {
    display: none;
}

/*HER0*/

.hero {
    margin-top: 70px;
    margin-bottom: 138px;
    display: block;
}

.hero-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    background: url('../assets/img/bg-image1.png') no-repeat center left;
    background-size: cover;
    z-index: -10;
}

.hero-content {
    display: flex;
    max-width: 1440px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
}

.hero-content-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 55px;
}

.hero-content-title span {
    font-size: 48px;
}

.hero-content-slogan--orange {
    font-size: 96px !important;
    color: #FFBF00;
    font-weight: 700;
}

.hero-paragraph {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 40px;
}

.btn-wrapper {
    background: #FA268D;
    padding: 16px 24px;
    border-radius: 16px;
    display: block;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.hero-content-btn--active {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.btn-wrapper:hover {
    transform: scale(1.15);
}

/*ABOUT-US*/

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 66px;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
}

.about-us-content-title {
    display: inline-block;
    margin-bottom: 32px;
    font-size: 44px;
    font-weight: 700;
}

.about-us-content-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
}

/* FIRST-CARD-SECTION */

.first-card-section {
    display: flex;
    width: 100%;
    gap: 65px;
}

.first-card-paragraph {
    width: 650px;
    font-size: 20px;
    font-weight: 400;
    padding: 48px;
    border-radius: 32px;
    background-color: #F5F5FC;
}

.about--text {
    margin-bottom: 16px;
}

.first-card-section-slogan {
    width: 419px;
}

.section-slogan-paragraph h3{
    font-size: 24px;
    font-weight: 600;
}

.section-slogan-image {
    margin-bottom: 38px;
}

.slogan-text {
    font-size: 64px;
    white-space: nowrap;
    font-weight: 600;
}

/* SECOND-CARD-SECTION */

.second-card-section {
    display: flex;
    width: 100%;
    gap: 24px;
    flex-direction: row;
}

.second-card-paragraph {
    width: 430px;
    padding: 48px; 
    border-radius: 32px;
    background-color: #F5F5FC;
    font-size: 20px;
    font-weight: 400;
}

.second-card--image {
    width: 750px;
    background-image: url('../assets/img/Leaders.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip:border-box;
    border-radius: 32px;
}
