@media (min-width: 375px) and (max-width: 1024px) {

    body {
        padding-right: 12px !important;
        padding-left: 12px !important;
    }

    h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
        color: white;
    }

    .header {
        display: flex;
        padding-top: 24px;
        height: 30px;
        padding-bottom: 60px;
    }

    .d-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .header-logo {
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        width: 100%;
        max-width: 994px;
    }

    .header.open .nav-menu{
        transform: translateX(-100%);
    }

    .burger-btn--active {
        display: block;
        z-index: 2;
        cursor: pointer;
    }

    .nav-menu {
        position: absolute;
        left: 0;
        top: 0px;
        padding: 55px 10px 10px 10px;
        width: 110px;
        transition: transform 0.5s ease;
    }

    .nav-list {
        display: block;
        width: 100%;
    }

    .nav-item {
        background-color: rgba(28, 30, 135, 0.731);
        border: 1px solid black;
        border-radius: 15px;
        padding: 2px;
    }

    .nav-item:hover {
    transform: translateY(-5px);
    }

    .nav-link {
        display: block;
        padding: 5px 0;
    }


    .header-logo img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hero {
        margin-top: 60px;
        padding-bottom: 48px;
        margin-bottom: 0;
    }

    .hero-bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 750px;
        background: url('../assets/img/bg-image1.png') no-repeat right top;
        background-size: cover;
        z-index: -10;
    }

    .hero-content {
        max-width: 1024px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0 auto;
        align-items: flex-start;
    }

    .hero-content-title {
        width: 100%;
        display: inline-block;
        margin-bottom: 24px;
    }

    .hero-content-title span {
        font-size: 24px;
    }

    .hero-content-slogan--orange {
        font-size: 48px !important;
        color: #FFBF00;
        font-weight: 700;
    }

    .hero-paragraph {
        font-size: 16px;
        width: 351px;
        margin-bottom: 128px;
    }

    .hero-btn {
        display: block;
        width: 100%;
        text-align: center;
    }

    .btn-wrapper {
        background: #FA268D;
        padding: 16px 24px;
        border-radius: 16px;
        display: block;
        cursor: pointer;
        max-width: 991px;
    }

    .hero-content-btn--active {
        font-size: 24px;
        font-weight: 700;
        display: block;
        text-align: center;
        transition: none;
    }

    .btn-wrapper:hover {
        transform: none;
    }

    /* ABOUT US */

    .about-us {
        display: block;
        padding: 48px 0;
        margin: 0;
    }

    .about-us-content {
        display: flex;
        flex-direction: column;
    }

    .about-us-content-title {
        font-size: 40px;
    }

    .about-us-content-cards {
        max-width: 991px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .first-card-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }

    .first-card-paragraph {
        display: block;
        width: 100%;
        text-align: start;
        padding: 24px 16px;
    }

    .first-card-section-slogan {
        margin: 0 auto;
    }

    .second-card-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 24px;
        width: 100%;
    }

    .second-card--image {
        width: 350px;
        height: 503px;
        background-image: url('../assets/img/leaders-bg-mobile.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip:border-box;
        border-radius: 32px;
        margin: 0 auto;
    }

    .second-card-paragraph-wrapepr {
        width: 100%;
        display: block;
    }

    .second-card-paragraph {
        display: block;
        width: 100%;
        text-align: start;
        padding: 24px 16px;
    }


}