* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* outline: 1px solid #000; */
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
}

html {
    display: block;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    flex-direction: column;
    padding-right: 72px;
    padding-left: 72px;
}

span {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: 'Manrope';
    font-weight: 600;
    font-style: normal;
    white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
    font-style: normal;
}

h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 1;
    color: white;
}