@import "tailwindcss";

@font-face {
    src: url("../assets/fonts/Manropewoff2") format("woff2");
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 100 900;
}


@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter_28pt-Regular.woff2");
    font-style: normal;
    font-weight: 400;
}

@theme {
    --font-manrope: "Manrope", sans-serif;
    --font-inter: "Inter", sans-serif;
}